*

!.gitignore
!examples/
!examples/underdev/
!tests_underdev/
!xray_scatter_py/
!xray_scatter_py/underdev/
!data/
!setup.py
!README.md
!CODEOWNERS
!xray_scatter_py/ui_mainwindow.py
!xray_scatter_py/ui_mainwindow.ui